
<section class="myFooter bg-dark">
    <div class="container py-2">
        <div class="row d-flex justify-content-between">
            <div class="col-md-3 text-white">
                <h4>ĐỊA CHỈ</h4>
                <ul class="list-menu">
                    <li class="li_menu"><a href="/p/gioi-thieu.html" title="Giới thiệu" class="text-decoration-none text-white">Địa chỉ: 2/23 Đại lộ bình dương,TP Thủ dầu Một, Bình dương</a></li>
                </ul>
            </div>
            <div class="col-md-3 text-white">
                <h4>VỀ CHÚNG TÔI</h4>
                <ul class="list-menu">
                    <li class="li_menu"><a href="/" title="Trang chủ" class="text-decoration-none text-white">MUDA shop </a></li>
                    <li class="li_menu"><a href="/p/gioi-thieu.html" class="text-decoration-none text-white" title="Giới thiệu">Trang web chúng tôi chuyên về các sản phẩm công nghệ, với giá rẻ chúng tôi mong muốn có thể đáp ứng nhu cầu của bạn</a></li>
                </ul>
            </div>
            <div class="col-md-3 text-white">
                <h4>Tổng đài hổ trợ</h4>
                <ul class="list-menu">
                    <li class="li_menu"><a href="/p/gioi-thieu.html" class="text-decoration-none text-white"></a>18001090</li>
                    <li class="li_menu"><a href="/p/gioi-thieu.html" class="text-decoration-none text-white"></a>18001091</li>
                    <li class="li_menu"><a href="/p/gioi-thieu.html" class="text-decoration-none text-white"></a>18001092</li>
                </ul>
            </div>
        </div>
    </div>
</section>
