
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
<h2 style="text-align:center; font-family:'Segoe UI', Tahoma, Verdana, Geneva, Tahoma, sans-serif;">Quản lý</h2>
